$header-background-image: '../img/header_background_v1.jpg';
$header-h1-color:  #fff;
$main-button-color: #fff; 
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$nav-button-border-color: #64808e;
$nav-button-font-size: 15px;
$dive-now-button-color: #01acac;
$main-backgraun-color:  #fff;
$article-background-color: #efefef;
$main-btn-background-color: #01acac;
$main-btn-color: #fff;
$post-description-border-bottom-color: #607d8b;
$post-description-color: #e90303;
$article-h3-color: #0097a7;
$main-input-backgraund-color: #fff;
$main-input-border-color: #607d8b;
$main-h1-color: #010f16;
$form-backgraund-color: #fff;
$form-border-color: #607d8b;