$header-background-image: '../img/header_background_v2.jpg';
$header-h1-color: #ff5722;
$main-button-color: #ff5722;
$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$nav-button-border-color: #fff;
$nav-button-font-size: 18px;
$dive-now-button-color: #0409a8;
$main-backgraun-color: #efefef;
$article-background-color: #fff;
$main-btn-background-color: #0401ac;
$main-btn-color: #fff;
$post-description-border-bottom-color: #cfd8dc;
$post-description-color: #bdbdbd;
$article-h3-color: #607d8b;
$main-input-backgraund-color: #efefef;
$main-input-border-color: #cfd8dc;
$main-h1-color: #757575;
$form-backgraund-color: #efefef;
$form-border-color: #cfd8dc;
   